@charset "utf-8";
body {
	padding-top: 20px;
	padding-bottom: 40px;
}
/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.container > hr {
	margin: 0px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
	color: #f9f9f9;
	margin: 10px 0;
	padding: 10px 0 60px 0;
	height: 250px;
	text-align: center;
	//background:url("../img/homepage-jumbotron.jpg");
	text-shadow:2px 2px 5px #000;
}

.row-fluid {
	border: none;
}

.indexbanner {
	text-shadow:1px 2px 1px #fff;
	margin: 10px 0;
	height: 300px;
}

img {
	width: auto	9;
	height: auto;
	vertical-align: middle;
	max-width:100%;
	border: 5;
	-ms-interpolation-mode: bicubic;
}

.bannerpattern {
	  position: absolute;
	  z-index: -10;
      top: 10;
      left: 0;
	  width: 100%;
	  height: 300px;
	background:url("../img/homepage-jumbotron.png");
}

.indexbanner img {
	max-width:none;
	width: auto;
 	height: auto;
  	vertical-align: middle;
  	border: 0;
  	-ms-interpolation-mode: bicubic;
}

.screenbanner {
      position: absolute;
	  z-index: -10;
      top: 10;
      left: 0;
	  width: 5000px;
	  min-width::5000px;
	  height: 300px;
}
	
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
